body {
    min-height: 100vh;
    margin: 0 auto;
    font: 12pt Comic Sans MS;
    background-color: gray;
    background-image: url(assets/images/bkgrnd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container {
      display: grid;
      grid-template-rows: .5fr .5fr 6fr 1fr;
      grid-template-columns: 1fr 4fr;
  }


  
  header {
      grid-column: 1 /span 2;
      grid-row: 1;
      display: flex;
      justify-content: center;
      line-height: 30px;
      font-family: 'Rubik', sans-serif;
       font-style: Medium;
  }
  
  .subHead {
    grid-row: 2;
    grid-column: 1 /span 2;
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Rubik', sans-serif;
}

  main {
      grid-column: 2;
      grid-row: 3;
      margin: 0 10px 0 0;
      font-family: 'Rubik', sans-serif;
      text-align: left;
      
  }
  
  section {
      width: 100px;
      border-radius: 10px;
      margin: 5px;
      text-align: center;
      line-height: 100px;
  }

nav {
    grid-row: 3;
    grid-column: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-family: 'Rubik', sans-serif;
    font-style: italic;

}

a {
    text-decoration: none;
}

nav a:link {
    color:red;
}

nav a:visited {
    color: darkred;
}

nav a:hover {
    color: #8a90c5;
}

nav a:active {
    color: crimson;
}

ul {
    list-style-type: none;
}

footer {
    grid-row: 4;
    grid-column: 1 /span 2;
    text-align: center;
    width: 100%;
    height: 30px;
    color: white;
    font-size: small;
}

.foot {
    display: inline;
    text-align: center;
}

li {
    padding: 0 10px;
}

nav li {
    padding: 5px 10px;
}

.mepic {
    float: right;
}

.hidden {
    visibility: hidden;
}

@media screen and (max-width:500px) {
    .container {
        grid-template-rows: .5fr .25fr .5fr 4fr 1fr;
        grid-template-columns: 1fr;
    }
    nav { 
        display: inline;
        text-align: center;
        font-size: small;
    }
    .subHead{
        grid-row:2;
        grid-column: 1;
    }
    main {
        grid-row: 4;
        grid-column: 1;
        padding: 10px;
    }
    .mepic{
        width: 200px;
        margin: 0 auto;
    }
    footer {
        grid-row: 5;
        grid-column 1;
    }

#label {
    float: left;
}
}